/* code adapted from https://codepen.io/anon/pen/PQwVEZ by AP, via https://stackoverflow.com/revisions/48532120/4 */

body {
	margin: 0;
}

ul {
	margin: 0;
	padding: 20;
	
	font-family:'Helvetica', 'Arial', 'Sans-Serif';
	list-style-type: none;
	font-size: 72;
}

.loop {position:absolute}
