body {
	margin: 0;
	background-color: #9acd32;
}

.header {
	position: fixed;
/*	z-index: 1; */
	top: 0;
	text-align: right;
	background: #9acd32;
	color: white;
	font-family:'Helvetica', 'Arial', 'Sans-Serif';
	font-size: 3vw;
}

/* .sticky {
  position: fixed;
  top: 0;
  width: 100%
} */

#wrapper {
	margin-top: 45px;
}

/* .sticky + #wrapper {
  padding-top: 102px;
} */

ul {
	margin: 0;
	padding: 0;
	
	font-family:'Helvetica', 'Arial', 'Sans-Serif';
	list-style-type: none;
	font-size: 3vw;
}

.loop {position:absolute}
