/* code adapted from https://codepen.io/anon/pen/PQwVEZ by AP, via https://stackoverflow.com/revisions/48532120/4 */

body {
	margin: 0;
	background-color: #9acd32;
}

.header {
	position:fixed;
	z-index:1;
	padding: 10px;
	text-align: center;
	background: #9acd32;
	color: white;
	font-family:'Helvetica', 'Arial', 'Sans-Serif';
	font-size: 80px;
}

#wrapper {
	position:relative; 
	z-index:2; 
	margin:100% 0 0;
}

ul {
	margin: 0;
	padding: 0;
	
	font-family:'Helvetica', 'Arial', 'Sans-Serif';
	list-style-type: none;
	font-size: 80px;
}

.loop {position:absolute}
